<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELife"
        tools:targetApi="31">
        <activity
            android:name=".FaceDoor"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnnounceGroup"
            android:exported="false" />
        <activity
            android:name=".AnnouncePersonal"
            android:exported="false" />
        <activity
            android:name=".ReservationPool"
            android:exported="false" />
        <activity
            android:name=".ReservationKtv"
            android:exported="false" />
        <activity
            android:name=".ReservationBilliard"
            android:exported="false" />
        <activity
            android:name=".ReservationTheater"
            android:exported="false" />
        <activity
            android:name=".ReservationGym"
            android:exported="false" />
        <activity
            android:name=".ReservationList"
            android:exported="false" />
        <activity
            android:name=".ReservationPersonal"
            android:exported="false" />
        <activity
            android:name=".RepairRecord"
            android:exported="false" />
        <activity
            android:name=".PersonalInformation"
            android:exported="false" />
        <activity
            android:name=".Repair"
            android:exported="false" />
        <activity
            android:name=".PackageReceive"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true"></activity>
    </application>

</manifest>